:root {
  --border: 3px;
  --color1: #e8c56b;
  --color2: #a53c00;
  --from: 30deg;
  --distance: 46%;
  --bgcolor: #33353d;
}

/* Main body information */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bgcolor);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-items: center;
    margin: 0;
  }
  
h1 {
  color: white;
  text-align: center;
  background-color: var(--bgcolor);
}
  
p {
  font-family: verdana;
  font-size: 20px;
  background-color: var(--bgcolor);
}

/* Header and navigation bars for top of page. */

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--bgcolor);
  margin: auto;
}

.header h1 {
  font-size: 50px;
  font-weight: 200%;
  border: 5px dotted rgb(140, 73, 1);
  padding: 25px;
  border-radius: 25px;
}

.navigation {
  display: flex;
  padding: 2%;
  background-color: var(--bgcolor);
  color: whitesmoke;
  justify-content: space-around;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(249, 243, 243, 0.5);
}

.btn {
  background: rgb(255,151,0);
  border: none;
  z-index: 1;
}
.btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #f83618;
  background-image: linear-gradient(315deg, #e19256 10%, #ffe100 90%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
  transition: all 0.3s ease;
}
.btn:hover {
  color: rgb(199, 122, 39);
}
.btn:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn:active {
  top: 2px;
}

.btn:focus {
  outline: rgb(231, 213, 19) solid 2px;
}

/* Introduction middle picture and half border around it.*/

article {
  background: #33353d;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.container {
  position: relative;
  padding: 30px;
}
.container::after {
  content: '';
  border-radius: 999px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: conic-gradient(
    from var(--from),
    var(--color1),
    var(--color2) var(--distance),
    transparent var(--distance)
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--border)),
    #fff calc(100% - var(--border) + 1px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--border)),
    #fff calc(100% - var(--border) + 1px)
  );
}
img {
  border-radius: 999px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* About me section */

#about-me {
  margin-top: 40px;
  width: 75%;
  padding: 50px;
  height: fit-content;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #864a4a;
  color: #ffffff;
  border: 20px solid rgb(226, 160, 124);
  border-radius: 15px;
  line-height: 30px;
}

#about-me p {
  background-color: #864a4a;
}

#about-me h2 {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 50px;
  font-size: 36px;
}

#about-me img {
  max-height: 300px;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
}

/* My works section */

#portfolio {
  margin-top: 40px;
  padding: 50px;
  width: 75%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #864a4a;
  color: #ffffff;
  border: 20px solid rgb(226, 160, 124);
  border-radius: 15px;
  line-height: 30px;
}

#portfolio p {
  background-color: #864a4a;
}

#portfolio h2 {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 50px;
  font-size: 36px;
}

.work1 {
  max-width: auto;
  height:300px;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -50px;
  border: solid 2px transparent;
}

.work1:hover {
  opacity: 75%;
  border: solid 2px lightsalmon;
}

.work2 {
  max-height: 250px;
  max-width: 250px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  border: solid 2px transparent;
}

.work2:hover {
  opacity: 75%;
  border: solid 2px lightsalmon;
}

/* Contact section and input form.*/

section #contact p {
  display: flex;
}

#contact {
  margin-top: 40px;
  width: 75%;
  padding: 50px;
  height: 620px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #864a4a;
  color: #ffffff;
  border: 20px solid rgb(226, 160, 124);
  border-radius: 15px;
}

#contact p {
  background-color: #864a4a;
}

#contact a{
  color: white;
}

#contact h2 {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 50px;
  font-size: 36px;
}

#contact img {
  max-height: 300px;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 0px;
}

#contact .icon {
  margin-right: 10px;
  margin-left: 10px;
}

section form {
  max-width: 400px;
  float: right;
  margin-top: -140px;
  margin-left: -40px;
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(255,151,0);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(133, 39, 2);
}

/* Scroll to top button fixed at bottom right of the screen.*/

.totop { 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99;
  background-color: transparent;
  color: white; 
  cursor: pointer; 
  width: 80px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow:inset 2px 2px 2px 0px rgba(249, 243, 243, 0.5);
}

.totop:hover {
  background-color: #555;
}


@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
    margin: 0%;
    align-items: center;
    width: fit-content;
    }

  #about-me {
    flex-direction: column;
    flex-wrap: wrap;
    height: max-content;
    justify-content: space-between;
  }

  #portfolio {
    flex-direction: column;
    flex-wrap: wrap;
    height: max-content;
    justify-content: space-between;
  }

  #contact {
    flex-direction: column;
    flex-wrap: wrap;
    height: max-content;
  }

  #contact form {
    float: none;
    margin-top: 25px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 576px) {
  body {
    flex-direction: column;
    margin: 0%;
    width: min-content;
    flex-wrap: wrap;
    }

  img {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .header {
    width: min-content;
  }

  .header nav {
    flex-direction: column;
  }

  .container {
    align-items: inherit;
  }

  #about-me {
    flex-direction: column;
    height: fit-content;
    float: none;
    justify-content: center;
    min-width: 25%;
    }

  #about-me h2 {
      text-align: left;
      padding-top: 20px;
      font-size: 36px;
    }

    #about-me img {
      margin:0;
      float: none;
      padding: 0px;
    }

  #portfolio {
    flex-direction: column;
    flex-wrap: wrap;
    height: max-content;
    justify-content: center;
  }

  #portfolio h2 {
    float: none;
    margin: 0px 0px 30px 0px;
    text-align: left;
  }

  .work1 {
    width: 75%;
    margin: 0px;
    padding: 0px;
  }

  .work2 {
    margin: 0px;
    padding: 0px;
  }

  #contact {
    flex-direction: column;
    flex-wrap: wrap;
    height: max-content;
    justify-content: center;
  }

  #contact h2 {
    float: none;
    text-align: left;
  }

  #contact form {
    float: none;
    margin-top: 25px;
    margin-left: 50px;
  }
}